* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois;
    color:white;
}

.Main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #000000;
}
.Body {
    text-align: center;
    padding: 0px;
    flex: 1;
    margin: 0px;
}

.Body h2 {
    font-size: 52px;
    margin-bottom: 15px;
    padding-top: 45px;
}

.Body p {
    font-size: 32px;
    margin-bottom: 35px;
}

.games {
    display: flex;
    justify-content: center;
    gap: 225px;
    text-align: center;
}
.games h3{
    margin-top: 15px;
    font-size: 30px;
}
.games img {
    width: 300px;
    height: 450px;
    border-radius: 12px;
}
.games a{
    text-decoration: none;
}
.future-games{
    margin: 40px 0 0 280px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.future-games img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}
.future-games img:hover {
    width: 25%;
}
.dowm-content{
    padding-top: 45px;
    height:100%;
    width: 100%;
    background-color: #000000 ;
}
.box{
    height:100%;
    width: 100%;
    background-color: black ;
    display: block;
    padding-top: 100px;
    text-align: left;
}
.werinpubg{
    padding-left: 200px;
}
.text{
    padding-top: 50px;
}
p1{
    font-size: 30px;
    padding-bottom: 30px;
}
button{
    font-size: 25px;
    padding: 10px 30px;
    background-color: red;
    border: none;
    margin:30px;
    margin-left: 70px;
}
.werinpubg h1{
    padding-top: 30px;
}
li{
    font-size: 28px;
    margin-left: 20px;
}
