* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois, serif;
    color: white;
}

.head > h1 {
    text-align: center;
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
}

/* Main Container */
.Main {
    width: 85%;
    margin: 0 auto;
    background: black;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
}
#pubgBtn, #ffBtn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#pubgBtn:hover, #ffBtn:hover {
    background-color: #555;
}

#pubgBtn:focus, #ffBtn:focus {
    outline: none;
}
.update-btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #d13030;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-btn:hover {
    background-color: #0056b3;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #d4d2d2;
}

th, td {
    padding: 15px;
    color: black;
    font-size: 20px;
    border: 2px solid white;
}

th {
    background-color: #2E2E2E;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

tr:hover {
    background-color: #787878;
}

a {
    text-decoration: none;
    color: #f44336;
}

a:hover {
    color: #ff0000;
}

p {
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
#updateFormFields input, #updateFormFields select, #updateFormFields textarea {
    width: 100%;
    background-color: #2E2E2E;
    color: white;
    border: 1px solid #444444;
    border-radius: 15px;
    padding: 18px;
    font-size: 20px;
    margin-bottom: 10px;
}

#updateFormFields label {
    font-size: 22px;
    padding: 7px;
    margin-top: 7px;
    Color: black;
    margin-bottom: -12px;
}

#updateFormFields button {
    padding: 10px 20px;
    background-color: #e52323;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#updateFormFields button:hover {
    background-color: #ff3131;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-actions button {
    margin: 5px;
}