* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois;
    color:white;
}

.Main {
    background-color: #000000;
    text-align: center;
    height: 100vh;
}

.Heading {
    background-color: #2E2E2E;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TOGETHER-name-logo {
    display: flex;
    align-items: center;
}

.Logo img {
    width: 50px;
    height: auto;
}

.web-name h1 {
    font-size: 25px;
    margin-left: 10px;
}

.Body {
    align-items: center;
    padding: 50px;
    flex: 1;
}


.Footer {
    background-color: #2E2E2E;
}

.social {
    margin-bottom: 8px;
    margin-top: 10px;
}

.social p {
    font-size: 19px;
    margin-bottom: 10px;
}

.social a {
    margin: 0 10px;
}

.social a img {
    width: 30px;
    height: auto;
}
.AHAHA{
    margin-bottom: 5px;
}
.AHAHA a {
    margin: 0 5px;
    font-size: 15px;
}

.AHAHA a:hover {
    text-decoration: underline;
}

.Copyright {
    margin:10 0px;
    font-size: 15px;
    background-color: #db1818;
}