* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois;
    color:white;
  }
  .Main {
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .Body {
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    flex: 1;
    display: flex;
  }
  .leftSide {
    padding-left: 30px;
    background-color: black;
  }
  .login-details h2 {
    padding-top: 22px;
    margin-left: 130px;
    font-size: 36px;
    margin-bottom: 30px;
  }
  form {
    width: 135%;
    display: flex;
    flex-direction: column;
  }
  form label {
    text-align: left;
    font-size: 30px;
    color: white;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: -12px;
  }
  form input {
    width: 100%;
    background-color: #2E2E2E;
    color: white;
    border: 1px solid #444444;
    border-radius: 15px;
    padding: 18px;
    margin-top: 7px;
    font-size: 22px;
  }
  button{
    margin-left: 170px;
    background-color: #db1818;
    width: 150px;
    color: white;
    border-radius: 36px;
    padding: 12px;
    font-size: 25px;  
    margin-top: 30px;
    cursor: pointer;
    border: none;
  }
  form .login-button:hover {
    background-color: #dd5757;
  }
  .signup-link {
    margin-top: 30px;
    margin-left: 105px;
    font-size: 22px;
    color: white;
    padding-bottom: 22px;
  }
  .signup-link a {
    text-decoration: underline;
  }
  .signup-link a:hover {
    color: #db1818;
  }
  .rightSideImage { 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightSideImage img {
    width: 100%;
    max-width: 750px;
    height: auto;
    border-radius: 15px;
  }
  .status-message {
    margin-top: 5px;
    font-size: 20px;
  }
  
  .error { 
    color: red;
    font-size: 20px;
  }
  .success { 
    color: green;
    font-size: 20px;
  }