.head >h1 {
    text-align: center;
    margin: 20px 0;
    color: white;
    letter-spacing: 2px;
    font-size: 35px;
}

.container {
    width: 85%;
    margin: 0 auto;
    background: black;
    padding: 20px;
}

.container h2 {
    padding-top: 20px;
    padding-left: 65px;
    color:white;
    font-size: 22px;
    margin-bottom: 15px;
}

.container ul {
    list-style: none;
    padding: 0px 20px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container ul li {
    margin: 10px;
}

.container ul li a {
    border: 2px solid white;
    display: block;
    padding: 30px;
    background: #2E2E2E;
    color: white;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease;
}

.container ul li a:hover {
    background: #d4d2d2;
    color: black;
    transform: translateY(-5px);
}

.status {
    display: flex;
    gap:100px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 50px;
    padding-left: 220px;
}
.status-item {
    background: #d4d2d2;
    border: 2px solid rgb(255, 255, 255);
    color: black;
    border-radius: 50%;
    width: 20%;
    text-align: center;
    transition: transform 0.3s ease,;
}
.status-item h3{
    color:black;
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}
.status-value {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.status-value>p{
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    font-size: 30px;
}
