* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois;
    color: white;
}

body {
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}